{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h3>New Post</h3>
        <div class="new_post">
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
        <br>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to post.</p>
    {% endif %}
    <h2>All Posts</h2>
    <div class="all_posts">
        {% for post in posts %}
            <div class="post">
                <p><strong>{{ post.author }}</strong></p>
                <p>{{ post.content }}</p>
                <time>{{ post.timestamp }}</time>
                {% if user.is_authenticated %}
                    <button>Like</button>                        
                {% endif %}
                {% if post.author == user %}
                    <button>Edit</button>
                {% endif %}
            </div>
        {% endfor %}
        {% if us}
    </div>

{% endblock %}