div {
    background-color: aquamarine;
    height: 50%;
    width: 50%;
    align-self: center;
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;   
    padding: 4px;
}

#oof {
    color: red; 
}

.foo {
    color: brown;
}


ul > li {
    color: cadetblue;
}

a[href*="google.com"] {
    color: yellow;
}


button {
    color: aqua;
}

button:hover {
    background-color: green;
}


@media
(max-width: 600px) {
    div {
        background-color: lightgrey;
        width: 100%;
        height: auto;
    }
}


#bismillah {
    display: flex;
    flex-wrap: wrap;
}

#bismillah > div {
    background-color: crimson;
    padding: 10px;
    margin: 10px;
}
